

#products {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    overflow: hidden;
    background-color: var(--primary-color-bg);
    color: white;
    border-bottom: 1px solid white;
  }
  
  #products .container {
    display: inline-block;
    width: 60%;
  }
  
  #products .container .category {
    position: relative;
    display: inline-block;
  }
  
  #products .container .category img {
    display: block;
  
    width: 100%;
    min-width: 300px;
    margin: auto;
  }
  
  #products .container .category button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  #products .container .category-items {
    display: none;
    align-items: center;
    gap: 1.7em;
    flex-wrap: no-wrap;
    padding: 8px 10px;
    overflow-y: auto;
  }
  
  #products .category-items img {
    width: 30%;
  }